body{
    font-family: Microsoft JhengHei;  
    background: center fixed;
    background-image:linear-gradient(0deg,  #82c6f3,#e9f8ff);
    background-repeat: no-repeat;
    /* background-size: cover;   */
}

/****************************
Table

Overall
    run_panel

Personnel
Runner
Contact

*****************************/


/****************************

        Overall

*****************************/

    /****************************
            run_panel
    *****************************/
#run_panel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#run_panel>div{
    background-color: rgba(127, 255, 212, 0.5);
    width: 40%;
}

#run_panel{
    text-align: center;
}

#run_panel p{
    font-size: 10px;
}
.start_button{
    display: inline;
    
}
