body{
    font-family: Microsoft JhengHei;  
    background: center fixed;
    background-image:linear-gradient(0deg,  #82c6f3,#e9f8ff);
    background-repeat: no-repeat;
    /* background-size: cover;   */
}

/****************************
Table of Content

Overall
    run_panel

Table
Personnel
Runner
Contact

*****************************/


/****************************

        Overall

*****************************/

    /****************************
            run_panel
    *****************************/
#run_panel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#run_panel>div{
    background-color: rgba(127, 255, 212, 0.5);
    width: 40%;
}

#run_panel{
    text-align: center;
}

#run_panel p{
    font-size: 10px;
}
.start_button{
    display: inline;
    
}

/****************************

        Table
                CSS for all tables
*****************************/

table{
    border-collapse: collapse;

}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid rgb(232, 234, 255);
}

tbody tr:hover{
    background-color: rgb(220, 239, 247)
}




/****************************

        Runner

*****************************/
.grid{
    width:100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 5%;
}

#r_insert{
    margin-top: 10%;
    transform: scale(1.3);
    font-family: inherit;
}

.form>form{
    padding-top: 2vh;
}

fieldset div{
    padding-top: 30px;
}

fieldset label{
    padding-right: 15px;
}